include common/header
nav.navbar.navbar-default(role="navigation")
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar-collapse")
        //- span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand Node-Blog

    .navbar-collapse.collapse#navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.active
          a Login
        li
          a Register

include common/notification
.container
  .row
    .col-sm-6
      .jumbotron
        h3 Node Blog
        p This is a simple blog , a simple node plan for you .
    .col-sm-6
      form.form-horizontal(role="form" method="post" enctype="multipart/form-data")
        .form-group
          label.col-sm-2.control-label 用户名
          .col-sm-7
            input.form-control(type="text" name="name")
        .form-group
          label.col-sm-2.control-label 密码
          .col-sm-7
            input.form-control(type="text" name="password")
        .form-group
          label.col-sm-2.control-label 重复密码
          .col-sm-7
            input.form-control(type="text" name="repassword")
        .form-group
          label.col-sm-2.control-label 性别
          .col-sm-7
            select.form-control(name="gender")
              option(value="m") 男
              option(value="f") 女
              option(value="x") 保密
        .form-group
          label.col-sm-2.control-label 上传头像
          .col-sm-7
            input(type="file" name="avatar")
        .form-group
          label.col-sm-2.control-label 个人简介
          .col-sm-7
            textarea.form-control(name="bio")
        .form-group
          .col-sm-2
          input.btn.btn-primary(type="submit" value="注册") 



